header{
    background-color: bisque;
    height: 100px;
    width:100% ;
}
h1{color:gray;
    position: absolute;
    left: 120px;
    top: 0;
    line: height 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header ul{
    position: absolute;
    right: 5vw;
    top:0;
    line-height:80px;

}
header a{
    color: gray;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}